<?xml version="1.0"?>
<config>
    <application>
        <name>Powerstack</name>
        <version>1.0</version>
        <author>
            <name>Author name</name>
            <email>Author email</email>
        </author>
    </application>
    <template>
        <engine>simple</engine>
        <viewsdir>app/views</viewsdir>
        <layouts>
            <layout>
                <name>default</name>
                <file>app/views/layouts/default.tpl</file>
            </layout>
        </layouts>
    </template>
    <!--<session>
        <engine>simple</engine>
        <savepath>/tmp/powerstack-session</savepath>
    </session>-->
    <!--<plugins>
        <memcached>
            <servers>127.0.0.1:11211</servers>
        </memcached>
        <database>
            <driver>(pgsql | mysql | sqlite)</driver>
            <host>localhost</host>
            <name>Database name</name>
            <user>Database user</user>
            <pass>Database passward</pass>
            <port>Database port</port>
        </database>
        <recaptcha>
            <publickey>recaptcha public key</publickey>
            <privatekey>recaptcha private key</privatekey>
            <ssl>0</ssl>
        </recaptcha>
        <piwik>
            <domain>piwik domain</domain>
            <siteid>piwik site ID</siteid>
        </piwik>
        <authenication>
            <salt>22 character (a-zA-z0-9) salt</salt>
        </authenication>
    </plugins>-->
    <settings>
        <!--<cookie>
            <expires>3600</expires>
            <domain>.localhost</domain>
        </cookie>-->

        <!-- Debug is only recommended when developing app and not for production -->
        <debug>1</debug>
    </settings>
</config>
